{
    width: 100%; 
    text-align: center;
    border-radius: 10px; 
}
#header {
    background:lightsteelblue; 
    color:black; 
    font-family:sans-serif; 
    text-align: center;
    border-top:2px solid azure; 
    border-bottom:2px solid azure;
}
#footer {
    clear:left ; 
    background:lightblue;
    color:black;
    font-family:sans-serif;
    text-align: center;
    border-top:2px solid azure;
    border-bottom:2px solid azure;
}
#leftnav,#centerbody {
    margin:10px; 
    float:left;
}
#leftnav {
    background: lightsteelblue; 
    text-align:left; 
    border-radius:1px; 
    width: 20%; 
    min-height: 180px; 
    padding: 10px; 
    margin-right: 10px; 
    margin-top: 0px;
}
#centerbody {
    border:2px azure;
    background: lightsteelblue; 
    text-align:center; 
    width:75%;
    min-height:180px;
    padding: 10px;
    margin: 0;
}
p {
    border-left: 5px;
    font-style: italic;
}
#centerbody ul{
    list-style-type: none;
    padding: 0;
    text-align: center; 
}
#centerbody ul li {
    display: inline-block; 
    margin: 0 10px; 
}

table {
    width: 100%; 
    border-collapse: collapse; 
    margin: 20px 0; 

}

th {
    border: 1px solid rgb(206, 214, 214);
    padding: 10px; 
    text-align: left; 
    background: azure; 
}
td {
    border: 1px solid rgb(206, 214, 214);
    padding: 10px; 
    text-align: left; 
}

.bluestuff{
    background-color: azure;
    padding: 7px;
    border-radius:15px;
    width:20%;
    text-align:center; 
    color:rgb(36, 108, 202)
}

#nav {
    margin: 0; 
}
#nav ul {
    list-style-type: none; 
    padding: 20px 0;
    text-align: center;
    background-color: lightsteelblue;
}
#nav ul li {
    display: inline;
    margin-right: 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.image-gallery {
    display: flex; 
    justify-content: center; 
    margin-top: 10px; 
}

.image-gallery img {
    width: 150px; 
    height: auto; 
    margin: 10px; 
}
#favorites-centerbody ul{
    list-style-type: circle;
    

}
#favorites-centerbody ul li{
    display:block    
}
